.Home {
  .properties {
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;

    span {
      padding: 10px;
      font-size: 20px;
    }
  }

  .userContainer {
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    overflow-y: scroll;
    width: calc(50vw + 50px);
    max-height: 75vh;

    .users {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}